<div class="panel panel-default">
  <div class="panel-heading">
<h1>Sign up</h1>
  </div>

  <div class="panel-body">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="form-group">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %>
    </div>
  <div class="form-group"><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div class="form-group"><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div class="form-group"><%= f.submit "Sign up" %></div>
<% end %>
<div class="panel-footer">
<%= render "devise/shared/links" %>
    </div>
  </div>