<%= link_to 'Back', pins_path %>
<div class="row">
  <div class="col-md-offset-2 col-md-8"
    <div class="panel panel-default">
      <%= image_tag @pin.image.url(:medium) %>
    </div>
    <div class="panel-body">
      <p><%= @pin.description %></p>
      <p><strong><%= @pin.user.email if @pin.user %></strong></p>

      <% if @pin.user == current_user %>
        <%= link_to 'Edit', edit_pin_path(@pin) %>
      <% end %>

    </div>
  </div>
</div>
</div>
