<nav class="navbar navbar-inverse navbar-default" role="navigation">
	<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		<span class="sr-only">Toggle Navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="#">Iphinteresting</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
	<ul class="nav navbar-nav navbar-right">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "About", about_path %></li>
    <% if user_signed_in? %>
		<li><%= link_to new_pin_path do %>
			<span class="glyphicon glyphicon-plus"></span>New Pin
			<% end %>
		</li>
    <li><%= link_to "Account Settings", edit_user_registration_path %></li>
    <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    <% else %>
    <li><%= link_to "Sign in", new_user_session_path %></li>
    <% end %>
	</ul>
</div><!-- /.navbar-collapse -->
</div>
</nav>
